.header {
	background-color: #fff;
	width: 100%;
	padding: 14px;
	margin-bottom: 30px;
	position: fixed;
	z-index: 2;
	top: 0;
	// box-shadow: 0 0 3px 3px #e1e1e1;

	.header-link {
		padding: 10px 20px;
		&:hover {
			background-color: #3258F5;
			color: #fff;
			transition: all ease 0.5s;
		}
	}
}

